* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

/* placeholder text style */
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #aaa;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #caf0f8 !important;
  padding: 24px 8px 24px;
  height: 88px;
  border-bottom: 1px solid #ebedf0;
  box-shadow: -7px 2px 13px -9px #c6c6c6;
  z-index: 9;
  min-width: 100vw;
  position: fixed;
  top: 0px;
}

.btn-close {
  font-size: 2rem;
}

.navbar span {
  margin: 0;
  color: #091e42;
  font-weight: 600;
  font-size: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.navbar .main {
  min-height: calc(100%);
}

/* Sidebar styles */
.sidebar {
  width: 20vw;
  height: calc(100vh - 88px);
  border-right: 1px solid #ebedf0;
  /* background-color: #f8f9fa; */
  background-color: #e2f3fb !important;
  transition: transform 0.3s ease;
  transform: translateX(0);
  overflow-y: auto;
  position: fixed;
  top: 88px;
  left: 0;
}

.sidebar .nav-link {
  color: #091e42;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
}

.sidebar .nav-link.active {
  background-color: #00c8ff26;
  color: #49b4e8;
  border: 1px solid #49b4e8;
}

.nav-item {
  width: 100%;
}

.sidebar .nav-item:not(:last-child) {
  border-bottom: 1px solid #dee2e6;
  padding: 4px;
}

.sidebar .nav-link:hover {
  background-color: #49b3e879;
}

.sidebar h2 {
  text-transform: uppercase;
}

.main-content {
  padding: 0px;
  flex-grow: 1;
  overflow-y: auto;
  position: absolute;
  left: 20vw;
  top: 88px;
  height: 100%;
  width: 80%;
}

iframe {
  min-height: 100%;
  min-width: 100%;
}

@media (max-width: 992px) {
  .navbar-brand,
  .navbar-nav {
    font-size: 1.5rem;
  }
  .navbar-toggler {
    display: none;
  }
  .sidebar {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .navbar-brand,
  .navbar-nav {
    font-size: 1.25rem;
  }
  .navbar-toggler {
    transform: scale(0.7);
  }
  .sidebar {
    font-size: 0.8rem;
    width: 25vw;
  }
  .main-content {
    left: 25vw;
    width: 75%;
  }
  .sidebar .nav-item {
    padding: 0;
  }
}

@media (max-width: 576px) {
  .container-fluid {
    padding: 0 !important;
  }
  a.navbar-brand {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    text-wrap: wrap;
  }
  .navbar-toggler {
    display: block;
    transform: scale(0.6);
  }
  .navbar-nav {
    display: none;
  }
  .navbar h2 {
    white-space: wrap;
  }

  .sidebar {
    width: 100%;
    position: fixed;
    z-index: 1050;
    top: 88px;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
  .sidebar.show {
    opacity: 1;
    transform: translateX(0);
    max-width: 50vw !important;
  }

  .main-content {
    left: 0;
    width: 100%;
  }
}
