* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.table-bdr {
  border-radius: 6px;
  overflow: hidden;
}

.table-responsive {
  overflow-x: auto;
}

#examTable_wrapper {
  width: 100%;
}

#examTable_wrapper .row:first-child div:first-child {
  padding: 0;
}

#examTable_filter {
  padding-top: 4px !important;
  padding-right: 4px !important;
}

#examTable_length {
  padding-top: 4px !important;
}

@media (max-width: 768px) {
  #examTable_length,
  #examTable_filter {
    float: right;
    margin: 4px 0;
  }
}

@media (max-width: 576px) {
  #examTable_length,
  #examTable_filter {
    float: right;
    margin: 4px 0;
  }
}

@media (max-width: 330px) {
  .filters {
    text-align: start !important;
    margin: 0 10px;
  }
}
