/* ROOT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* NAVBAR */

.navbar {
  background-color: #f8f9fa; /* Light grey background */
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #495057; /* Dark grey text */
  font-weight: bold;
  cursor: pointer;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
  color: #007bff; /* Blue text for active link */
}

.navbar-nav .nav-link.active {
  /* border-bottom: 2px solid #007bff;   */
  text-decoration: 2px solid underline #007bff;
}

/* FORM */

.grade-form {
  margin-top: 20px;
  padding: 2em 2rem !important;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submit-btn-right {
  text-align: right;
}

.wrapper {
  /* background-image: url("../../images/students.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; */
  height: 100%;
}

/* DATA TABLE */

#gradeTable_wrapper {
  width: 100%;
}

#gradeTable_filter {
  padding-top: 4px !important;
  padding-right: 4px !important;
}

#gradeTable_length {
  padding-top: 4px !important;
}

#gradeTable {
  max-width: inherit;
}

tbody tr td p {
  margin: auto;
  width: fit-content;
  text-align: center;
  padding: 2px 10px;
  border-radius: 10px;
}

tbody tr td#pass p {
  background-color: rgb(25, 135, 84);
  color: lightgreen;
  border: 2px solid rgb(0, 66, 35);
}

tbody tr td#fail p {
  background-color: #dc3545;
  color: rgb(250, 193, 181);
  border: 2px solid rgb(116, 20, 1);
}

.table-responsive {
  overflow-x: auto;
}

/* MEDIA QUERIES */

@media (min-width: 992px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  #gradeTable_length,
  #gradeTable_filter {
    float: right;
    margin: 4px 0;
  }
}

@media (max-width: 576px) {
  #gradeTable_length,
  #gradeTable_filter {
    float: right;
    margin: 4px 0;
  }
}
