* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.table-bdr {
  border-radius: 6px;
  overflow: hidden;
}

.table-responsive {
  overflow-x: auto;
}

/* @media (max-width: 576px) {
  .input-group-text {
    display: none;
  }
} */
